    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="https://adprip.fr"><i class="fa fa-plane"></i> adprip.fr</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/" title="Retour &agrave; la page du compteur">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="map.html" title="Voir la carte des soutiens valid&eacute;s">Carte des soutiens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="chart.html" title="Voir le graphique d'&eacute;volution des soutiens valid&eacute;s">&Eacute;volution des soutiens</a>
                    </li>
		    <li class="nav-item">
			    <a class="nav-link" href="palmares.html" title="Voir le palmar&egrave;s des d&eacute;partements et communes">Palmar&egrave;s</a>
		    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="embed_notice.html" title="Int&eacute;grez notre compteur sur votre site">Widget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://www.adprip.fr/archive/" title="Acc&eacute;der aux donn&eacute;es brutes d'adprip.fr">Donn&eacute;es brutes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="nofollow" target="_blank" href="https://gitlab.com/pierrenn/adprip/issues" title="Voir le code d'adprip.fr sur gitlab">Suivre le dev</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
